body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
}


.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 950px;
    margin: auto;
}



.carta {
    flex: 45%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 200px;
    height: 306px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    border-radius: 15px;
    position: absolute;
    width: 200px;
    height: 306px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    width: 100%;
    height: 100%;
    background-image: url('img/reverso-baraja.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.front {
    color: black;

}

.back {
    background-color: #0000ff;
    color: black;
    transform: rotateY(180deg);
}

.back img {
    width: 50%;
}

@media (min-width: 840px) {

    .carta {
        flex: 20% !important;
    }

}


@media (max-width: 620px) {

    .cover {
        background-size: 5rem 7.5rem;

    }

    .carta {
        flex: 30% !important;
        padding: 10px;
    }

    .carta, .front, .back {
        width: 5rem; 
        height: 7.5rem;
    }
}
